/* Header */
.headerTItle {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Search Input */
.searchContainer {
  border-color: "blue";
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.searchInputContainer {
  width: 50%;
}

.searchInput {
  width: 100%;
  padding: 2%;
  border-radius: 15px;
  border: 2px solid lightskyblue;
  font-size: 18px;
}

.searchInput::placeholder {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
